@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.navbar{
    background-color:rgba(18, 201, 134, 0.384) !important;
}
.logo{
    height: 110px;
}
.logo:hover{
    background-color: rgba(19, 94, 66, 0.384);
    border-radius: 50%;
    transition: all .1s;
}
.nav-link{
    font-family: 'Dancing Script', cursive;
    font-size: 1.2rem;
    color:#b40606c2 !important;
    font-weight: bold;
}
.nav-link:hover{
    font-size: 1.4rem;
    background-color: rgba(19, 94, 66, 0.384);
    border-radius: 50%;
    transition: all .1s;
}
.main2{
    background-color: white;
    background-image: url(https://cdn.pixabay.com/photo/2017/01/27/16/09/people-2013447_960_720.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 25rem;
}
.footerUl{
display: flex;
list-style: none;
}
.carousel-indicators li {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-top: 1px;
    border-bottom: 1px;
    transition-property: background;
}